{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Savings</title>
</head>
<body>
 

    {% block title %}Savings{% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
   
        <p>Hi {{ user.username }}!</p>
        <h2>Your Savings:</h2>
        <ul>
            {% for saving in savings %}
                <li>Amount: {{saving.amount}}
                    <form method="post" action="{% url 'finance:delete_savings' saving.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                    <a href="{% url 'finance:update_saving' saving.id %}">
                        <button>Update</button>
                    </a>
                </li>
            {% empty %}
                <li>You have no savings.</li>
            {% endfor %}
        </ul>
        <a href="{% url 'finance:create_saving' %}">
            <button>Add Savings</button>
        </a>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'finance:login' %}">Log In</a>
    {% endif %}
    {% endblock %}
</body>
</html>