{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata for character set and viewport settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Income</title> <!-- Title of the page -->
</head>
<body>
    <!-- Page title block -->
    {% block title %}Update Income{% endblock %}

    <!-- Content block-->
    {% block content %}
        <h2>Update Income</h2>

        <!-- Form to update the income -->
        <form method="post">
            {% csrf_token %} <!-- CSRF token for form security -->
            {{ form.as_p }} <!-- Render form fields as paragraphs -->
            <button type="submit">Update</button> <!-- Button to submit updated income -->
        </form>

    {% endblock %}
    
</body>
</html>
