{% extends "base.html" %}

{% block title %}Expenses{% endblock %} <!-- Page title block -->

{% block content %}
    {% if user.is_authenticated %}

    <!-- Heading for the user's expenses action -->

        <h2>Your Expenses</h2>

       <!-- List of user's expenses -->

        <ul>
            {% for expense in expenses %}
                <li>Category: {{ expense.category }} - Description: {{ expense.description }} - Amount: {{ expense.amount }}

                    <!-- Form to delete the expense -->
                     
                    <form method="post" action="{% url 'finance:delete_expense' expense.id %}" style="display:inline;">
                        {% csrf_token %} <!-- CSRF token for form security -->      
                        <button formnovalidate class = "btn btn-danger",type="submit">Delete</button>
                    </form>

                    <!-- Link to update the expense -->

                    <a href="{% url 'finance:update_expense' expense.id %}">
                        <button formnovalidate class = "btn btn-warning",>Update</button> <!-- Button to update the expense -->
                    </a>
                </li>
            {% empty %}

            <!-- Message when there are no expenses -->

                <li>You have no expenses.</li>
            {% endfor %}
        </ul>

        <!-- Link to add a new expense -->

        <a href="{% url 'finance:create_expense' %}">
            <button formnovalidate class = "btn btn-success",>Add Expense</button> <!-- Button to add a new expense -->
        </a>
    {% else %}  

    <!-- Message for users who are not logged in -->

        <p>You are not logged in</p>
        <a< href="{% url 'finance:login' %}">Log In</a> <!-- Link to log in -->
    {% endif %}
{% endblock %}