{% extends "base.html" %}

{% block title %}Expenses{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Expenses</h2>
        <ul>
            {% for expense in expenses %}
                <li>Category: {{ expense.category }} - Description: {{ expense.description }} - Amount: {{ expense.amount }}
                    <form method="post" action="{% url 'delete_expense' expense.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                    <a href="{% url 'update_expense' expense.id %}">
                        <button>Update</button>
                    </a>
                </li>
            {% empty %}
                <li>You have no expenses.</li>
            {% endfor %}
        </ul>
        <a href="{% url 'create_expense' %}">
            <button>Add Expense</button>
        </a>
    {% else %}
        <p>You are not logged in</p>
        <a< href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}