<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    
        <div>
            <h2>Hi {{ user.username }}!</h2>
            <p>Total Income: {{ total_income_sum }}</p>
            <p>Expenses:</p>
<ul>
    {% for expense in expenses %}
        <li>{{ expense }}</li>
    {% empty %}
        <li>No expenses yet.</li>
    {% endfor %}
</ul>
            <ul>

                {% for goal in goals %}
    <p>
        {{ goal.name }}

        <form action="{% url 'delete_goal' goal.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Delete">
        </form>
        {% empty %}
        <li>No goals yet.</li>
    </p>
  
{% endfor %}


            </ul>
            <a href="{% url 'password_change' %}">Change Password</a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log Out</button>
            </form>
        </div>
    {% else %}
        <div>
            <p>You are not logged in</p>
            <a href="{% url 'password_reset' %}">Reset Password</a>
            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        </div>
    {% endif %}
{% endblock %}