<!-- templates/home.html -->
{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
    Home
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<!DOCTYPE html>
<html lang="en">


<h1>Hello, {{ user.username }}!!</h1>

<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Money Board</h1>
                    </div>
                    <!-- Content Row -->
                    <div class="row">

                        <!-- income card-->
                        <div class="col-xl-6 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-m font-weight-bold text-primary text-uppercase mb-1"style="font-size: 24px;">
                                                Income</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">${{ total_income|floatformat:2|intcomma }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- saving card -->
                        <div class="col-xl-6 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-m font-weight-bold text-success text-uppercase mb-1"style="font-size: 24px;">
                                                Saving</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">${{ total_savings|floatformat:2|intcomma }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="container">
                            <div class="row">
                                
                                <!-- monthly free money  -->
                                <div class="col-xl-6 col-md-6 mb-4">
                                    <div class="card border-left-info ">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="text-m font-weight-bold text-info text-uppercase mb-1" style="font-size: 24px;">
                                                    Expenses</div>
                                                <canvas id="expensesPieChart"></canvas>
                                                <script id="expensesData" type="application/json">{{ expenses_by_category|safe }}</script>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Expenses Breakdown Column -->
                                <div class="col-xl-6 col-md-6 mb-4">
                                    <div class="card border-left-danger ">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="text-m font-weight-bold text-danger text-uppercase mb-1" style="font-size: 24px;">
                                                    Monthly Spendable Budget</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800 md-1 ">${{ spendable_income|floatformat:2|intcomma  }} </div>

                                                <div class="h5 mb-0 font-weight-bold text-gray-800 mt-3 d-flex justify-content-center">
                                                    <a href="/finance/user-savings" class="btn btn-success mr-2" role="button" >Update Savings</a>
                                                    <a href="/finance/user-goals" class="btn btn-warning" role="button">Update Goals</a>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 mb-4">
                                            <div class="card border-left-danger mt-3 ">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="text-m font-weight-bold text-danger text-uppercase mb-1" style="font-size: 24px;">
                                                            Expense Breakdown</div>
                                                            {% for expense in expenses%}
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800 md-1 ">{{ expense.category }}: ${{ expense.amount|floatformat:2|intcomma }}</div>
                                                            {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                                <!-- new contains for new applications -->
                        <div class="container-fluid">
                                    
                            <div class="row">
                                <div class="card border-left-warning ">
                                    <div class="text-m font-weight-bold text-warning text-uppercase mb-1" style="font-size: 30px;">Goals List</div>
                                        

                                            {% for goal in goals%}
                                                <div class="card border mt-4">
                                                    <div class="text-m font-weight-bold text-dark text-uppercase mb-1" style="font-size: 24px;">
                                                        {{goal.name}}  &ensp;  ${{goal.current_amount}}/${{goal.target_amount}}
                                                        <span class="date" style="position: absolute; top: 0; right: 0; font-size: 24px;">
                                                            {{ goal.target_date|date:"F d, Y"}}
                                                        </span></div>
                                                    <div class="progress" role="progressbar" aria-label="Progress" aria-valuenow="{{ goal.percentage}}" aria-valuemin="0" aria-valuemax="100" style="height: 45px">
                                                        <div class="{{goal.bar}}" style="width: {{goal.percentage }}%;"> <div class="text-right font-weight-bold" style="font-size: 20px;" > {{ goal.percentage|floatformat:2 }}%</div></div>
                                                    </div>

                                                </div>  
                                            {% empty %}
                                            <div class="col-12">
                                                <div class="alert alert-warning" role="alert">
                                                    No goals found. Please add a new goal.
                                                </div>
                                            </div>
                                            {% endfor %}  

                                    </div>
                                </div>
                            </div>
                            </div>
                </div>
            </div>
        </div>
    </div>


{% else %}
    <div>
        <p>You are not logged in</p>
        <a href="{% url 'password_reset' %}">Reset Password</a>
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign Up</a>
    </div>
    
{% endif %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/charts.js' %}"></script>
{% endblock %}

{% endblock content %}
</body>

</html>