{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Goal</title>
</head>
<body>

    {% block title %}Update Goal{% endblock %}

    {% block content %}
        <h2>Update Goal</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update</button>
        </form>
    {% endblock %}
</body>
</html>
